*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: Arial, sans-serif; 
    background-image: url(img/curso-tecnico-estetica.jpg);
}
.container { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.logo{
    margin-left: 10px;
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #f4efec;
}
header { 
    border-radius: 10px;
    background: #ddb7ac; padding: 10px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding: 5px 20px 5px  20px
}
header h1{
    color:#f4efec;
}
header h4 a{
    border: 2px solid #f4efec ;
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #f4efec;
    background-image: url(img/ouro\ gradiente.jfif);
}
header h4 a:hover{
    color: #5c3b26;
    
}
.services { 

    display: flex; 
    flex-wrap: wrap; 
    justify-content:center;
    margin:30px 30px;
    gap: 20px;
    
}
.service { 
    flex-basis: calc(33% - 20px); 
    padding: 20px; 
    background: #f4efec; 
    border-radius: 5px; 
    border: 2px solid black;
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .service img {
    max-width: 100%;
    height: auto;
    display: block;
  }

.service h2 a{
    text-decoration: none;
    color: #ddb7ac;
}
.service h2 a:hover{
    color:#dc9e8d
}

.service h2 { 
    font-size: 1.5em; 
    color: goldenrod; 
}
.service p { 
    margin: 15px 0; 
}
.ilus{
    width: 100%;
    height: 80%;
    border-radius: 5px;
    
}
footer{
   background-color: #999b85;
   padding: 20px;
   text-align: center;
      
}
.icones img{
    max-width: 30px;
    height: auto;
    margin-left: 15px;
}
@media (max-width: 768px) {
    .service {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      max-width: 80px;
    }
  
    .icones img {
      max-width: 40px;
    }
  }








    
    

   


